<div class="panel panel-default">
  <div class="panel-heading"><h3 style="text-align:center;">All Products</h3></div>

  <table class="table table-hover table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th>Product</th>
        <th>Own By</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product_path(product) %></td>
        <td><%= product.user.first_name %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>
